<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        >
  <bean id="student" class="com.sb.pacticeApplication.Student" init-method = "init" destroy-method = "destroy">
    <!--<constructor-arg value="10" type="int"></constructor-arg>
    <constructor-arg value="Sukesh" type="java.lang.String"></constructor-arg>-->
    <property name = "name" value = "Rakesh"/>
  </bean>
  <bean class = "com.sb.pacticeApplication.TestLifeCycle" />
</beans>
